<div class="back">
  <div class="header">
    <div class="title-div">
      <h1>Random Number Generator</h1>
    </div>
  </div>
  <div class="header-div">
    <div class="corner-div corner-1">
      <a href="https://github.com/VictorMuniz7" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
    <img src="/assets/earth.webp" alt="Planet Earth" [style.filter]="earthGrayscale">
    <div class="corner-div corner-2">
      <a href="https://www.linkedin.com/in/victor-muniz-236842267/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>

  <div class="container">
    <div class="options-div">
      <h2>Random value</h2>
      <div class="inputs">
        <p>between</p>
        <input type="number" #minimum>
        <p>and</p>
        <input type="number" #maximum>
        <button (click)="generate(minimum.value, maximum.value)">Generate</button>
      </div>
    </div>
  </div>

  <div class="generated" *ngIf="generatedValue">
    <p>{{ generatedValue }}</p>
  </div>

</div>
